<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="DefaultConnectionName" value="CoreORM"/>
    <add key="endpoint-core" value="http://localhost:1234/"/>
  </appSettings>

  <connectionStrings>
    <add name="CoreORM" connectionString="Data Source=.\sqlexpress; Initial Catalog=CoreORM;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
