  <body>
    <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
			<div class='navbar-header'>
				<a class='navbar-brand' href='{{ site.baseurl }}/'>shuttle-core</a>
			</div>
			<div class='navbar-collapse collapse navbar-responsive-collapse'>
				<ul class='nav navbar-nav'>
					<li>
						<a href='{{ site.baseurl }}/'>Home</a>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						Guides
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li>
								<a href='{{ site.baseurl }}/guides-host/index.html'>Shuttle.Core.Host</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/guides-infrastructure/index.html'>Shuttle.Core.Infrastructure</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/guides-data/index.html'>Shuttle.Core.Data</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/guides-domain/index.html'>Shuttle.Core.Domain</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						API
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li>
								<a href='{{ site.baseurl }}/api-host/index.html'>Shuttle.Core.Host</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/api-infrastructure/index.html'>Shuttle.Core.Infrastructure</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/api-data/index.html'>Shuttle.Core.Data</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/api-domain/index.html'>Shuttle.Core.Domain</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						Extensions
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li class='dropdown-header'>Castle</li>
							<li>
								<a href='{{ site.baseurl }}/extensions-castle-infrastructure/index.html'>Shuttle.Core.Infrastructure.Castle</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/extensions-castle-data/index.html'>Shuttle.Core.Data.Castle</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/extensions-castle-domain/index.html'>Shuttle.Core.Domain.Castle</a>
							</li>
							<li class='divider'></li>
							<li class='dropdown-header'>Log4Net</li>
							<li>
								<a href='{{ site.baseurl }}/extensions-log4net-infrastructure/index.html'>Shuttle.Core.Infrastructure.Log4Net</a>
							</li>
						</ul>
					</li>
					<li>
						<a href='{{ site.baseurl }}/archive/index.html'>Archive</a>
					</li>
				</ul>
				<ul class='nav navbar-nav navbar-right'>
					<li>
						<a target='_blank' href='https://github.com/Shuttle/shuttle-core'>GitHub</a>
					</li>
					<li>
						<a target='_blank' href='https://github.com/Shuttle/shuttle-core/issues'>Issues</a>
					</li>
				</ul>
			</div>
        </div>
    </div>