  <body>
    <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
			<div class='navbar-header'>
				<a class='navbar-brand' href='{{ BASE_PATH }}/'>shuttle-core</a>
			</div>
			<div class='navbar-collapse collapse navbar-responsive-collapse'>
				<ul class='nav navbar-nav'>
					<li>
						<a href='{{ BASE_PATH }}/'>Home</a>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						Guides
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li>
								<a href='{{ BASE_PATH }}/guides-host'>Shuttle.Core.Host</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/guides-infrastructure'>Shuttle.Core.Infrastructure</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/guides-data'>Shuttle.Core.Data</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/guides-domain'>Shuttle.Core.Domain</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						API
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li>
								<a href='{{ BASE_PATH }}/api-host'>Shuttle.Core.Host</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/api-infrastructure'>Shuttle.Core.Infrastructure</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/api-data'>Shuttle.Core.Data</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/api-domain'>Shuttle.Core.Domain</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						Extensions
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li class='dropdown-header'>Castle</li>
							<li>
								<a href='{{ BASE_PATH }}/extensions-castle-infrastructure'>Shuttle.Core.Infrastructure.Castle</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/extensions-castle-data'>Shuttle.Core.Data.Castle</a>
							</li>
							<li>
								<a href='{{ BASE_PATH }}/extensions-castle-domain'>Shuttle.Core.Domain.Castle</a>
							</li>
							<li class='divider'></li>
							<li class='dropdown-header'>Log4Net</li>
							<li>
								<a href='{{ BASE_PATH }}/extensions-log4net-infrastructure'>Shuttle.Core.Infrastructure.Log4Net</a>
							</li>
						</ul>
					</li>
					<li>
						<a href='{{ BASE_PATH }}/archive'>Archive</a>
					</li>
				</ul>
				<ul class='nav navbar-nav navbar-right'>
					<li>
						<a target='_blank' href='https://github.com/Shuttle/shuttle-core'>GitHub</a>
					</li>
					<li>
						<a target='_blank' href='https://github.com/Shuttle/shuttle-core/issues'>Issues</a>
					</li>
				</ul>
			</div>
        </div>
    </div>